.hb-block-columns {
    --hb-columns-bg: initial;
    --hb-columns-w: initial;
    --hb-columns-h: initial;
    --hb-columns-minw: initial;
    --hb-columns-minh: initial;
    --hb-columns-maxw: initial;
    --hb-columns-maxh: initial;
    --hb-columns-mt: initial;
    --hb-columns-mr: initial;
    --hb-columns-mb: initial;
    --hb-columns-ml: initial;
    --hb-columns-pt: initial;
    --hb-columns-pr: initial;
    --hb-columns-pb: initial;
    --hb-columns-pl: initial;
    box-sizing: border-box;
    transition: color 140ms ease, background-color 140ms ease, box-shadow 140ms ease, transform 140ms ease;
    color: var(--hb-columns-color, inherit);
    background: var(--hb-columns-bg, transparent);
    width: var(--hb-columns-w, auto);
    height: var(--hb-columns-h, auto);
    min-width: var(--hb-columns-minw, 0);
    min-height: var(--hb-columns-minh, 0);
    max-width: var(--hb-columns-maxw, none);
    max-height: var(--hb-columns-maxh, none);
    margin: var(--hb-columns-mt, 0) var(--hb-columns-mr, 0) var(--hb-columns-mb, 0) var(--hb-columns-ml, 0);
}

[data-block-id].hb-supports.hb-flex-layout.hb-block-columns {
    flex-direction: var(--hb-flex-direction, row);
    gap: var(--hb-flex-gap, 24px);
    padding: var(--hb-columns-pt, 0) var(--hb-columns-pr, 0) var(--hb-columns-pb, 0) var(--hb-columns-pl, 0);
}

@media (max-width: 575.98px) { [data-block-id].hb-supports.hb-block-columns.hb-hide-xs { display: none; } }
@media (min-width: 576px) and (max-width: 767.98px) { [data-block-id].hb-supports.hb-block-columns.hb-hide-sm { display: none; } }
@media (min-width: 768px) and (max-width: 991.98px) { [data-block-id].hb-supports.hb-block-columns.hb-hide-md { display: none; } }
@media (min-width: 992px) and (max-width: 1199.98px) { [data-block-id].hb-supports.hb-block-columns.hb-hide-lg { display: none; } }
@media (min-width: 1200px) and (max-width: 1399.98px) { [data-block-id].hb-supports.hb-block-columns.hb-hide-xl { display: none; } }
@media (min-width: 1400px) { [data-block-id].hb-supports.hb-block-columns.hb-hide-xxl { display: none; } }